* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background: #FAFAFA;
}

.odin-recipe {
    margin: 20px;
    background-color: #7CB9E8;
    padding: 20px;
}

.recipe-list {
    list-style-position: inside;
    padding: 0 20px 20px 20px;
}

.home-1,
.home-2,
.home-3 {
    margin: 20px 0 20px 0;
    padding: 0 20px 0 20px;
    display: inline-block;
}

.h1-cabbage,
.h1-tortilla,
.h1-zuppa {
    margin: 20px;
    padding: 20px;
    background-color: #7CB9E8;
}

.cabbage-img,
.tortilla-img,
.zuppa-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cabbage-desc-container,
.tortilla-desc-container,
.zuppa-desc-container {
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
}

/* unordered list */
.cabbage-ingr-container,
.tortilla-ingr-container,
.strip-ingr-container,
.salsa-ingr-container,
.tortilla-finish-container,
.tortilla-garnish-container,
.zuppa-ingr-container {
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
    list-style-position: inside;
}

.cabbage-ingr li::marker {
    color: orange;
}

/* ordered list */
.cabbage-steps-container,
.tortilla-steps-container,
.zuppa-steps-container {
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
    list-style-position: inside;
}

.tortilla-ingr li::marker {
    color: orange;
}

.strip-ingr li::marker {
    color: orange;
}

.salsa-ingr li::marker {
    color: orange;
}

.finish li::marker {
    color: orange;
}

.garnish li::marker {
    color: orange;
}

.zuppa-ingr li::marker {
    color: orange;
}